@model Enfermo

<h1>Detalles del Enfermo</h1>
<h2>Apellido: @Model.Apellido</h2>
<h2>Direccion: @Model.Direccion</h2>
<h2>Fecha de nacimiento: @Model.FechaNac.ToShortDateString()</h2>
<h2>Sexo: @Model.Sexo</h2>
<h2>NSS: @Model.NSS</h2>
