@model List<Enfermo>

<h1>Enfermos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Inscripcion</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th>NSS</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo enfermo in Model)
        {
            <tr>
                <td>@enfermo.Inscripcion</td>
                <td>@enfermo.Apellido</td>
                <td>@enfermo.Direccion</td>
                <td>@enfermo.FechaNac.ToShortDateString()</td>
                <td>@enfermo.Sexo</td>
                <td>@enfermo.NSS</td>
                <td><a asp-controller="Enfermos" asp-action="Details" asp-route-inscripcion="@enfermo.Inscripcion">Details</a></td>
                <td><a asp-controller="Enfermos" asp-action="Delete" asp-route-inscripcion="@enfermo.Inscripcion">Delete</a></td>
            </tr>
        }
    </tbody>
</table>